.margin-right {
  margin-right: 0.25rem;
  @media (max-width: 480px) {
    margin: 0;
  }
}

.margin-left {
  margin-left: 0.25rem;
  @media (max-width: 480px) {
    margin: 0;
  }
}

.image1 {
  background-image: url("../../images/messaggiMod.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
}

.image2 {
  background-image: url("../../images/prodottiMod.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  flex: 1;
  @media (max-width: 480px) {
    margin-top: 0.25rem;
  }
}
