.image__massage__left {
  background-image: url("../../images/messaggioPromoResize.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 18rem;
}

.image__massage__right {
  background-image: url("../../images/messaggio2PromoResize.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 18rem;
}

.padding-bottom {
  padding-bottom: 0.5em;
}


