@use "../abstract/color.scss" as *;

nav {
  background-color: $secondary;
  color: black;
  padding: 0.25rem 0;
  @media (max-width: 820px) {
    left: 13%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: 999999;
    width: 74%;

    &.is-open {
      left: 100%;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100vh;
    }
    li {
      flex: 1 1 auto;
      border: 1px solid rgba(0, 0, 0, 0.15);
      display: flex;
    }
    a {
      text-decoration: none;
      flex-basis: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 480px) {
    width: 100%;
    left: 0%;
  }

  &.is-open {
    left: 100%;
  }

  .unordered__list {
    width: 85%;
  }
}
