@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");

//font weight
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 900;

//font-family
$font-main: "Lora", serif;
$font-secondary: "Montserrat", sans-serif;
